[gerrit]
  basePath = git
	canonicalWebUrl = http://192.168.1.144:80
	serverId = 8e42e977-f05e-417c-94ec-a1d150748e36

[index]
  type = LUCENE

[auth]
  type = development_become_any_account
  gitBasicAuth = true
	gitBasicAuthPolicy = HTTP

[plugin "gerrit-oauth-provider-github-oauth"]
  root-url = https://github.com
  client-id = 9a6e4515e74a333955e3
  client-secret = 83e0414c28d12b74277e42c4b8ee225c24b14476
  fix-legacy-user-id = false

[plugins]
  allowRemoteAdmin = true

[ldap]
  server = ldap://ldap
  username = cn=admin,dc=example,dc=org
  accountBase = dc=example,dc=org
  accountPattern = (&(objectClass=person)(uid=${username}))
  accountFullName = displayName
  accountEmailAddress = mail
	groupBase = dc=example,dc=org

[sendemail]
  smtpServer = localhost

[sshd]
  listenAddress = *:29418

[httpd]
  listenUrl = http://*:8080/

[cache]
  directory = cache

[container]
  user = root
	javaOptions = "-Dflogger.backend_factory=com.google.common.flogger.backend.log4j.Log4jBackendFactory#getInstance"
	javaOptions = "-Dflogger.logging_context=com.google.gerrit.server.logging.LoggingContext#getInstance"
	javaHome = /usr/lib/jvm/java-17-openjdk-17.0.9.0.9-2.el9.x86_64
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
	javaOptions = -Djava.security.egd=file:/dev/./urandom
	javaOptions = --add-opens java.base/java.net=ALL-UNNAMED
	javaOptions = --add-opens java.base/java.lang.invoke=ALL-UNNAMED
[receive]
	enableSignedPush = false
